<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>

  <div th:insert="header"></div>

  <div class="update">
    <div class="form_body">
      <div class="img_block">
        <img src="images/マッキー.png" class="product_img"><br>
      </div>
      <form action="/update" method="post">
      <input type="hidden" name="id" th:value="${product.id}">
        <fieldset class="label-130 product_block">
          <p class="error">エラーメッセージ</p>
          <div>
            <label>商品コード</label>
            <input type="text" name="productCode" th:value="${product.productCode}" readonly class="base-text">
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" th:value="${product.name}" readonly class="base-text">
          </div>
          <div>
            <label>値段</label>
            <input type="text" name="price" th:value="${product.price}" readonly class="base-text">
          </div>
          <div>
            <label>カテゴリ</label>
            <input type="text" name="categoryId" value="ペン" readonly class="base-text">
          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" readonly class="base-text" style="background-color: rgb(209, 209, 209);">
[[ ${product.description} ]]
            </textarea>
          </div>
        </fieldset>
        <div>
          <div class="btns">
            <input type="button" onclick="openModal()" value="削除" class="basic_btn">
            <input type="button" th:onclick="|location.href='/updateInput/${product.id}'|" value="編集" class="basic_btn">
            <input type="button" onclick="location.href='/menu'" value="戻る" class="cancel_btn">
          </div>
          <div id="modal">
            <p class="modal_message">削除しますか？</p>
            <div class="btns">
              <input type="submit" name="delete" class="basic_btn" value="削除">
              <button type="button" onclick="closeModal()" class="cancel_btn">キャンセル</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
</body>
</html>
<script src="/js/commons.js"></script>