<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<link href="css/commons.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="app">

    <div th:insert="header"></div>

    <div class="btn"><a class="basic_btn regist" href="insert">新規登録</a></div>
    <p th:text="${msg}"></p>
    <form method="get" action="search" class="search_container">
      <input type="text" size="25" name="keyword" placeholder="キーワード検索">
      <input type="submit" value="&#xf002">
    </form>

    <table>
        <div class="caption"><p>検索結果：10件</p></div>
        <div class="order">
          <select class="base-text" v-model="selected" @change="selectedOrdrBy">
            <option>並び替え</option>
            <option value="product_id">商品ID</option>
            <option value="category_id">カテゴリ</option>
            <option value="price_asc">単価：安い順</option>
            <option value="price_desc">単価：高い順</option>
            <option>登録日：古い順</option>
            <option>登録日：新しい順</option>
          </select>
        </div>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>単価</th>
          <th>カテゴリ</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
          <tr th:each="product : ${productList}">
            <td>[[ ${product.productId} ]]</td>
            <td>[[ ${product.name} ]]</td>
            <td>[[ ${product.price} ]]</td>
            <td>[[ ${product.category.name} ]]</td>
            <td><a class="detail_btn" th:href="|/detail/${product.id}|">詳細</a></td>
          </tr>
      </tbody>
    </table>
  </div>
  <footer></footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>

  </script>
</body>
</html>
