<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>
  <div th:insert="header"></div>

  <div class="insert">
    <div class="form_body">
      <p class="error" th:text="${errorMsg}"></p>

      <form action="/update" method="post" th:object="${productForm}">
        <fieldset class="label-130">
        	<input type="hidden" th:field="*{id}">
          <div>
            <label>商品ID</label>
            <input type="text" th:field="*{productId}" class="base-text">
            <span class="error">エラーメッセージ</span>
          </div>
          <div>
            <label>商品名</label>
            <input type="text" th:field="*{name}" class="base-text">
            <span class="error">エラーメッセージ</span>
          </div>
          <div>
            <label>単価</label>
            <input type="text" th:field="*{price}" class="base-text">
            <span class="error">エラーメッセージ</span>
          </div>
          <div class="select_block">
            <label class="required">カテゴリ</label>
            <select th:field="*{categoryId}" class="base-text">
              <option th:each="category : ${categoryList}" 
              th:value="${category.id}" th:text="${category.name}">
              </option>
            </select>
          </div>
          <div>
            <label>商品説明</label>
            <textarea th:field="*{description}" class="base-text">
            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="file">
            <span class="error">エラーメッセージ</span>
          </div>
        </fieldset>
          <div class="btns">
            <button type="button" onclick="openModal()" class="basic_btn">更新</button>
            <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel_btn">
          </div>
          <div id="modal">
            <p class="modal_message">更新しますか？</p>
            <div class="btns">
              <button type="submit" name="update" class="basic_btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel_btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
</body>
</html>
<script src="/js/commons.js"></script>